
.sora-normal {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  @media screen and (max-width: 576px){
    body{
        margin: 0px;
        padding: 0px;
        
    }
  }
  nav{
    margin-left: 140px;
    margin-top: 24px;
    margin-right: 140px;
  }
  .navdiv{
    display: flex;
    justify-content: space-between;
  }
  .navli>ul{
list-style: none;
display: flex;
gap: 32px;
font-size: 1.25rem;

  }
  .btnfr{
    display: flex;
  }
  .navicon{
    margin-right: 24px;
margin-top: 18px;
   padding-right: 20px;
    font-size: 1.875rem;
  }
 .btnlog{
    width: 117px;
height: 45px;
box-sizing: border-box;
font-size: 1.25rem;
font-weight: 400;
border: 1px solid rgb(23, 152, 0);
border-radius: 8px;

 }
 .btnreg{
    width: 146px;
height: 45px;
    border-radius: 8px;
background: rgb(23, 152, 0);
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 400;
border: none;
margin-left: 12px;
 }
 .menu{
    visibility: hidden;
 }
 @media screen and (max-width: 576px) {
    .navli, .btnfr, .navicon, .btnlog, .btnreg{
        display: none;
    }
    .navlogo{
        margin-left: -130px;
    }
    .menu{
        visibility: visible;
        text-align: right;
        font-size: xx-large;
        margin-top: -55px;
        color: rgb(70, 133, 60);
        margin-right: -10px;
    }
    .navdiv{
        border-bottom: 1px solid rgb(70, 133, 60);
       max-width:100%;
    }
 }
 /*banner*/
 .ban{
   justify-items: center;
    margin-top: 90px;
    background: linear-gradient(180.00deg, rgb(255, 255, 255),rgb(239, 235, 227) 100%);
 }
 .banh{
    font-size: 3.5rem;
font-weight: 600;
line-height: 71px;
letter-spacing: 0%;
text-align: center;
animation-name: banh;
animation-duration: 2s;
animation-iteration-count: infinite;
 }
 @keyframes banh{
    from {color: black;}
    to {color: rgb(122, 170, 122);}
  }
 .banhcol{
    color: rgb(70, 133, 60);
 }
 .banp{
    color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
 }
 .vih{
    font-size: 2.25rem;
    text-align: center;
    color: rgb(56, 192, 36);
    margin-top: 100px;
 }
 .video{
    display: flex;
    margin-top: 30px;
    justify-content: center;
 }
 @media screen and (max-width: 576px) {
.ban .banimg, .banh, .banp{
   
    max-width: 336px;
        max-height: 413px;
       justify-items: left;
       margin-left: -100px;
}
.video, .vih{
    margin-left: -113px;
    max-width: 420px;
}

}

/*services*/
.services{
    
    justify-items: center;
    margin-top: 140px;
}
.srvh{
    color: rgb(23, 152, 0);
font-size: 2.25rem;
font-weight: 600;
line-height: 45px;
letter-spacing: 0%;
margin-left: -1360px;
}
.scard{
    display: flex;
  gap: 32px;
   
}
.scard1{
    border-radius: 16px;
background: rgb(239, 235, 227);
width: 424px;
height: 367px;
justify-items: center;
padding: 32px;
}
.scardh{
    color: rgb(17, 17, 17);
font-size: 1.5rem;
font-weight: 600;
line-height: 30px;
}
.scardp{
    color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 300;
line-height: 25px;
text-align: center;
}
@media screen and (max-width: 576px){
    .scard{
        flex-direction: column;
        margin-left:-110px;
    }
    .scard1{
        width: 356.55px;
height: 308.61px;
    }
}
/*product*/
.product{
    background: rgb(239, 235, 227);
    padding: 140px;
    justify-items: center;
    margin-top: 140px;
}
.prh{
    color: rgb(23, 152, 0);
font-size: 2.25rem;
font-weight: 600;
line-height: 45px;
margin-left: -1100px;

}
.dis{
    display: flex;
    border-radius: 10px;
    background-color: rgb(74, 208, 74);
width: 424px;
height: 402px;
padding-top: 30px;
padding-left: 24px;

background-image: linear-gradient(to bottom right, rgb(14, 182, 14), white);
background-repeat: no-repeat;
background-position: right bottom;
margin-right: 40px;
}
.vejal{
    width: 210px;
height: 220px;
margin-top: 180px;
}

.dh{
    font-size: 1.875rem;
    color: white;
}
.dp{
    font-size: 1.125rem;
}
.dbtn{
    width: 146px;
height: 45px;
border-radius: 10px;
border: none;
font-size: 1.25rem;
font-weight: 500;
}
.allpro{
    display: flex;
    
}
.nodis{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 40px;
    
}
.cardbg{
    width: 275px;
    height: 118px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

background: rgb(255, 255, 255);
display: flex;

}
.cardbg20{
    width: 275px;
    height: 118px;
    padding: 20px;
    box-sizing: border-box;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 10px;

background: rgb(255, 255, 255);
display: flex;

}
@media screen and (max-width: 576px){
    .allpro{
        flex-direction: column;
      max-width: 336px;
      margin-left: -225px;
    }
    .prh{
        margin-left: -250px;
    }
    .dis{
        margin-bottom: 20px;
    }
    .nodis{
        grid-template-columns: 2fr 3fr;
        gap: 20px;
    }
    .cardbg{
        max-width: 215px;
    }
    .cardbg20{
        display: none;
    }
}
/*arriaval*/
.aomain{
    justify-items: center;
}
.ah{
    color: rgb(23, 152, 0);
font-family: Sora;
font-size: 2.25rem;
font-weight: 600;
margin-left: -1150px;
margin-top: 140px;
}
.aodiv{
    display: flex;
    gap: 32px;
    margin-bottom: 600px;
}
.dwdiv{
    display: flex;
    width: 780px;
height: 344px;
border-radius: 24px;
margin-top: 48px;
margin-left: 140px;
background: rgb(17, 84, 20);
padding: 48px;

}
.dwbtn{
    width: 334px;
height: 65px;
border-radius: 13.29px;

background: rgb(99, 183, 109);
border: none;
color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 400;
line-height: 35px;
letter-spacing: 10%;
margin-top: 35px;
margin-bottom: 20px;
}
.dwp{
    color: rgb(255, 255, 255);
font-size: 2.5rem;
font-weight: 500;
line-height: 49.86px;
letter-spacing: 0%;

}
.inddiv{
    margin-top: 50px;
    display: flex;
    width: 520px;
    height: 344px;
    border-radius: 24px;

background: rgb(16, 40, 97);
padding: 48px;
}
.indbtn{
    width: 280px;
height: 65px;
    border-radius: 13.29px;

background: rgb(42, 77, 151);
border: none;
color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 400;
line-height: 35px;
letter-spacing: 10%;
margin-top: 35px;
margin-bottom: 20px;
}
.india{
    margin-top: 40px;
}
@media screen and (max-width: 576px){
    .srvh{
        margin-left: -370px;
    }
    .ah{
        margin-left: -270px;
    }
    .aodiv{
        flex-direction: column;
        max-width: 336px;  
        gap: 0px;
       
    }
    .dwdiv{
        max-width: 355px;
        max-height: 290px;
        margin-left: -115px;
       
    }
    .dwbtn, .dwlogo{
        max-width: 177.93px;
        max-height: 50px;
        font-size: medium;
        margin-left: -15px;
        
    }
    .dwp{
        font-size: 1.8rem;
        margin-left: -15px;
     margin-top: -5px;
    }
    .dwimg{
        width: 300px;
height: 300px;
margin-left: -20px;
    }
    .inddiv{
        max-width: 355px;
        max-height: 290px;
        margin-left: -115px;
    }
    .indbtn, .indlogo{
        max-width: 177.93px;
        max-height: 50px;
        font-size: medium; 
        margin-left: -20px;
        margin-right: 50px;
    }
}
/*footer*/
.lasta{
    justify-items: center;
}
.footch{
    display: flex;

width: 1320px;
height: 457px;
border-radius: 24px;
background: rgb(239, 235, 227);
margin-top: -1100px;
padding: 97px;
gap: 129px;

}
.chh{
    color: rgb(17, 17, 17);
font-size: 2.25rem;
font-weight: 600;
line-height: 45px;

}
.chp{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    
}
.chin{
    width: 472px;
height: 67px;
border-radius: 8px;

background: rgb(255, 255, 255);
border: none;
margin-top: 20px;
margin-bottom: 30px;
}
.chbtn{
    width: 164px;
    height: 45px;
    border-radius: 8px;
background: rgb(23, 152, 0);
border: none;
color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
}
@media screen and (max-width: 576px){
    
    .footch{
        flex-direction: column;
        max-width: 250px;
        margin-left: -115px;
        justify-items: center;
    }
.chimg{
    width: 232px;
height: 182px;
margin-top: -70px;
margin-bottom: -125px;

}
.chin{
    width: 312px;
height: 42px;
margin-left: -30px;
}
.chh{
    font-size: 1.8rem;
    margin-left: -20px;
    color: rgb(23, 152, 0);
    margin-right: -40px;
    text-align: center;
}
.chp{
    margin-left: -80px;
    margin-right: -100px;
    text-align: center;
}
.chbtn{
   margin-left: 40px;
}
}
.fullfoot{
    height: 658px;
background: rgb(23, 152, 0);
justify-content: center;
justify-content: space-around;
display: flex;
align-items: center;

}
.footp{
    color: rgba(255, 255, 255, 0.7);
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.footli{

    color: rgba(255, 255, 255, 0.7);
font-family: Sora;
font-size: 1.25rem;
font-weight: 400;
gap: 32px;
}
.footfoll{
    color: rgb(239, 235, 227);
font-size: 1rem;
font-weight: 500;
line-height: 294%;
}
.icon{
   padding-right: 29px;
}
@media screen and (max-width: 576px){
     .fullfoot{
        flex-direction: column;
        margin-left: -170px;
        
     }
     .footlogo{
        margin-top: 230px;
     }
     .footli{
        margin-top: -30px;
        text-align: left;
        margin-left: -250px;
        gap: 0px;
     }
     .footfoll{
        text-align: left;
        margin-top: -30px;
        margin-left: -95px;
     }
     .icon{
      
     }
}